css
Copier
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
    
    width: 100vw; /* Set the width to the full viewport width */
  height: 100vh; /* Set the height to the full viewport height */
  background-image: url('image/backgroud.avif'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
}
.car {
    width: 60%; /* Increase the width percentage as desired */
    max-width: 600px; /* Increase the max-width value as desired */
    background: rgba(179, 237, 243, 0.8); /* Adjust the RGBA values and the opacity (0.8) as desired */
    color: #fff;
    margin: 100px auto 0;
    border-radius: 60px;
    padding: 30px;
    text-align: center;
  }
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 50px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.search button img{
    width: 16px;

}
.weather {
    padding-top: 20px;
}
.weather-icon {
    height: 100px;
  }

.weather h1{
    font-size: 70px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 70px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
